@import "tailwindcss";
@import "tailwind-animate";
:root {
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-success: var(--success);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgba(7, 7, 7, 1);

    --background-card: rgba(46, 46, 46, 1);
    --background-card-hover: rgba(26, 26, 26, 1);

    --secondary: rgba(46, 46, 46, 1);
    --foreground-secondary: rgb(70, 69, 69);
    --primary: rgba(255, 94, 24, 1);
    --foreground: rgba(153, 153, 153, 1);
    --accent: rgba(255, 255, 255, 1);
    --success: rgba(95, 255, 87, 1);
    --purple: rgba(112, 87, 255, 0.2);
    --text-sm: clamp(12px, 1.8vw, 14px);
    --text-base: clamp(13px, 2vw, 16px);
    --text-lg: clamp(16px, 2.5vw, 22px);
    --text-xl: clamp(28px, 5vw, 40px);
    --text-2xl: clamp(32px, 6vw, 48px);
    --container: 1420px;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-intertight), Arial, Helvetica, sans-serif;

  font-size: var(--text-base);
  font-feature-settings: "rlig" 1, "calt" 1;
  line-height: clamp(1.4, 1.2 + 0.5vw, 1.6);
  position: relative;
}

html::before {
  content: "";
  position: absolute;
  top: -40%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 65%;
  border-radius: 50%;
  background: rgba(255, 94, 24, 0.4);
  filter: blur(250px);
  pointer-events: none;
  z-index: -1;
}

@layer utilities {
  /* Кастомные брейкпоинты для 1120px */
  @media (min-width: 1120px) {
    .custom-xl\:block {
      display: block;
    }
    .custom-xl\:hidden {
      display: none;
    }
    .custom-xl\:w-1\/2 {
      width: 50%;
    }
    .custom-xl\:p-10 {
      padding: 2.5rem;
    }
  }

  .bg-primary {
    background-color: var(--primary);
  }
  .bg-secondary {
    background-color: var(--secondary);
  }
  .bg-accent {
    background-color: var(--accent);
  }
  .bg-success {
    background-color: var(--success);
  }
  .bg-foreground-secondary {
    background-color: var(--foreground-secondary);
  }
  .bg-purple {
    background-color: var(--purple);
  }
  .bg-background-card {
    background-color: var(--background-card);
  }
  .bg-background-card-hover {
    background-color: var(--background-card-hover);
  }
  .text-primary {
    color: var(--primary);
  }
  .text-secondary {
    color: var(--secondary);
  }
  .text-accent {
    color: var(--accent);
  }
  .text-purple {
    color: var(--purple);
  }
  .text-success {
    color: var(--success);
  }
  .text-foreground-secondary {
    color: var(--foreground-secondary);
  }
  .text-foreground {
    color: var(--foreground);
  }
  .max-w-container {
    max-width: var(--container);
  }

  .text-sm {
    font-size: var(--text-sm);
  }
  .text-base {
    font-size: var(--text-base);
  }
  .text-lg {
    font-size: var(--text-lg);
  }
  .text-xl {
    font-size: var(--text-xl);
  }
  .text-2xl {
    font-size: var(--text-2xl);
  }
  /* Скрыть скроллбар, но оставить скролл */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE и Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
}

@layer components {
  .card {
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: var(--foreground);
    @apply rounded-3xl;
    box-shadow: inset 0px 0.76px 16.81px rgba(255, 255, 255, 0.1),
      inset 0px -4px 5.3px rgba(255, 255, 255, 0.05);
  }

  .app-container {
    max-width: var(--container);
    padding: 0 20px;
    margin: 0 auto;
  }

  .glass-hover {
    @apply hover:bg-[rgba(255,255,255,0.05)] hover:border-[rgba(255,255,255,0.2)];
  }
}

@layer utilities {
  /* Accordion animations */
  .tag-trapezoid {
    clip-path: polygon(0 0, 100% 12%, 100% 88%, 0 100%);
  }

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  .animate-accordion-down {
    animation: accordion-down 0.2s ease-out;
  }
  .animate-accordion-up {
    animation: accordion-up 0.2s ease-out;
  }
}
